.list-header{
    background: fade-out($color: white, $amount: 0.15);
    filter: brightness(95%);
    border: 1px solid $border-color;
    border-radius: 2px;
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}

.list-body{
    margin-bottom: $m-size;
    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}

.list-item{
    border: 1px solid $border-color;
    border-top: none;
    color: $grey;
    margin: 0;
    padding: $s-size $m-size;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transition: background .3s ease;
    @media (min-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
    }
}

.list-item:hover{
    background: fade-out($color: white, $amount: 0.15);
    filter: brightness(95%);
}

.list-item__title{
    margin: 0;
    word-break: break-all;
}

.list-item__subtitle{
    color: $grey;
    font-size: $s-font-size;
}

.list-item__data{
    margin: $s-size 0 0 0;
    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}

.list-item--message{
    align-items: center;
    color: $grey;
    justify-content: center;
    padding: $m-size;
}

.list-item--message:hover{
    background: none;
}